@import "tailwindcss";

@theme {
  --color-brand-50: #f5f7ff;
  --color-brand-100: #e6edff;
  --color-brand-500: #1f6feb;
}

:root {
  --sidebar-width: 18rem;
}

html[dir="rtl"] body {
  direction: rtl;
}

body {
  font-family: 'Inter', system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
  background-color: #f5f5f5;
}
